* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-size: 48px;
  margin-top: 1em;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40em, auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 200px;
}

.grid {
  display: inline-grid;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  background-color: var(#fefefe);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background: transparent;
  text-decoration: none;
}

button.active {
  background-color: var(#333);
  color: var(#ededed);
}

button,
input[type="color"] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type="color"]:hover {
  transform: scale(1.05);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
